/* General */
html {
  background-color: #f0f0ee;
  font-family: "Montserrat", sans-serif;
  background-image: url(images/bt2.png);
}

p {
  padding: 3px;
}

/* Page */
#wrap {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.7rem;
  box-shadow: 2px 2px 4px #bbbbbb;
  height: auto;
}

main {
  padding: 0.5rem 2%;
  display: block;
  margin: 0;
}

header {
  text-align: left;
  background-image: url(images/tree-head.svg);
  background-repeat: no-repeat;
  background-position: 75% 25%;
  background-size: 50px;
  font-family: "Indie Flower", cursive;
  font-size: 28px;
  height: 5rem;
}

#home-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: #23261d 2px 2px 4px;
}

/*  Nav for desktop  */
@media only screen and (min-width: 801px) {
  nav {
    margin-left: 25%;
    align-items: center;
    font-family: "Montserrat", bold;
  }
  nav li:hover {
    background-color: #699cc3;
    color: #2cd872;
  }
  .active {
    float: left;
    padding: 20px 20px 0px 15px;
    list-style: none;
    background-color: white;
    padding-top: 3px;
    border: solid #2c7272 1px;
  }
  .noa {
    float: left;
    padding: 20px 20px 0px 15px;
    list-style: none;
    background-color: #9dc0d6;
    padding-top: 3px;
    border: solid #2c7272 1px;
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #2c7272;
  }
  a:visited {
    color: #2c7272;
  }
  a:active {
    color: #699cc3;
  }
  nav {
    text-align: center;
    padding-bottom: 10px;
    display: block;
    margin-left: 0;
  }
}

/* phone */
@media only screen and (max-width: 800px) {
  nav {
    align-items: center;
    font-family: "Montserrat", bold;
  }
  ul.navbar {
    background-color: #f0f0ee;
    list-style: none;
    padding: 0.5rem 2%;
    border-radius: 1rem;
    text-align: center;
  }
  ul.navbar li {
    padding: 0.1rem;
    margin: 0.1rem;
  }
  ul.navbar li a {
    border: solid 1px #cf3233;
    display: block;
    padding: 0.5rem 2%;
    border-radius: 0.7rem;
    margin: 0.5rem;
    color: #f7f3f8;
    text-decoration: none;
  }
  li.active {
    font-size: 2rem;
    background-color: #23261d;
    border-radius: 25px;
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #9dc0d6;
  }
  a:visited {
    color: #9dc0d6;
  }
  nav li:hover {
    background-color: #699cc3;
    color: #2cd872;
    border-radius: 25px;
  }
  a:active {
    color: #699cc3;
  }
}

/* Destinations */
#des-page {
  text-align: center;
}
#des-page h3 {
  font-size: 2rem;
}
#fig-main {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-content: space-evenly;
  justify-items: center;
}
figure {
  border: 2px solid #120d0f;
  width: 150px;
  height: 400px;
  padding: 2px;
  background-color: white;
  margin: 16px;
  margin-top: 2rem;
}
.des-txt {
  text-align: center;
  color: #699cc3;
}

/* Video */
#vid-txt {
  text-align: center;
}
.video {
  margin-top: 2rem;
  width: 100%;
  height: 25rem;
  border-style: none;
}

/* Packages */
#p2 {
  background-color: #f0f0ee;
  padding: 1rem;
  margin-top: 2rem;
}
.p1 {
  padding: 1rem;
  background-color: #f5f5f2;
  margin-top: 2rem;
}
.p1img {
  width: 15rem;
  height: auto;
  float: right;
  border-radius: 7px;
  box-shadow: 1px 1px 2px #23261d;
}

/* Contacts */
#contact {
  margin-top: 2rem;
  width: 50%;
  height: auto;
}
fieldset {
  margin-top: 1rem;
}
#thanks {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
#thankimg {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #699cc3;
}
.submit-button {
  margin-top: 1rem;
  width: 16rem;
  height: auto;
  font-size: 300%;
  background-color: #699cc3;
  color: #f0f0ee;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #9dc0d6 inset;
}

/* Footer */
footer {
  border-radius: 10px;
  background-color: #9dc0d6;
  color: #23261d;
  clear: both;
}

#foot-cont {
  margin: 0.75rem;
  text-align: center;
}

#totop {
  color: white;
}
